*__pycache__
*DS_STORE
*.vscode
*.env
.ruff_cache
.vscode
.venv
.env

build
core/build
*.egg-info
*.so
*.o
*.a

*script.*
*.csv.gz
*.parquet
*.pqt

python/fastvol/_core
python/fastvol/_core.c
python/README.md
python/dist