*script.*
*DS_STORE
volvibes.py
data/*
*.csv.gz
*.parquet
*.pqt
*.env
.env
.venv
*__pycache__
build
*.egg-info
*.so
*.o
*.vscode
*.a
core/build
.ruff_cache
.vscode

python/fastvol/_core
python/dist
python/README.md
python/fastvol/_core.c